body {
    font-weight: normal;
    padding: 3% 10%;
}
h1 {
    text-align: center;
}

img {
    width: 35%;
    margin: 0 30%;
}
h2 {
    padding-top: 4%;
}
h4 {
    padding-top: 4%;
    text-align: center;
}
menu {
    text-align: center;
}
menu a {
    display: inline-block;
    margin-right: 5%;
}
footer {
    text-align: center;
}
.tabulka_radek{
    text-align: center;
}

.error {
    color: darkred;
}
.deleteH3 {
    text-align: center;
}
.cadet{
    border-radius: 1%;
    line-height: 2;
    border: 2px solid black;
    padding: 0 5% 5% 5%;
    margin-left: 30%;
    margin-right: 30%;
}

.odeslat {
    margin-top: 10%;
}
.row input {
    width: 350px;
}

.kurz {
    margin-top: 5%;
    background-color: lightgray;
    border-radius: 4%;
    width: 350px;
    padding-left: 4%;
}
