body {
    font-weight: normal;
    padding: 3% 10%;
}
h1 {
    text-align: center;
}

img {
    width: 35%;
    margin: 0 30%;
}
h2 {
    padding-top: 4%;
}
h4 {
    padding-top: 4%;
    text-align: center;
}
menu {
    text-align: center;
}
menu a {
    display: inline-block;
    margin-right: 5%;
}
footer {
    text-align: center;
}
.tabulka_radek{
    text-align: center;
}
